:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 1.0);
	background-color: rgba(0, 0, 0, 0.15);
}

.progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
}

.update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
}

#ar-button {
  background-image: url(../img/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 80px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.annotation {
  background-color: #f5f9fa;
  border-radius: 10px;
  padding: 15px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 20px; /* Отступ снизу */
  left: 20px;   /* Отступ слева */
  right: 20px;  /* Отступ справа */
  z-index: 10;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s; /* Задержка анимации на 1 секунду */
  max-width: calc(100% - 40px);  /* Учитываем отступы */
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.controls{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.controls > button {
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0 0;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mark {
	width: 25px;
	height: 25px;
	min-width: 25px;
	min-height: 25px;
	max-width: 25px;
	max-height: 25px;
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
}

.mark.selected {
	outline: 3px solid currentColor;
	outline-offset: 2px;
	color: inherit;
}

.container {
	position: absolute;
	width: 100%;
	bottom: 75px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


@media screen and (max-width : 906px) {
 .annotation {
	visibility:hidden;
  }
 .container {
	bottom: 15px;
  }
}